@import "tailwindcss";
@import "flowbite/src/themes/default";

/*
color:
primary: red-500
secondary: emerald-500
background: gray-50
text: gray-500
buttons: #EF4444
succes: #EF4444
background col/card: #F9FAFB
text-principal: #1F2937
*/