@import "tailwindcss";
@import "flowbite/src/themes/default";

:root {
  --color-primary: #F28C28;
  --color-secondary: #e4c076;
  --color-accent1: #FFC857;
  --color-accent2: #E9724C;
  --color-accent3: #8CB369;
  --text-light: #F4F4F4;
  --text-dark: #222222;
}
